<section class="grid-container">
    <div class="details">
        <div class="details__item">
            <app-record [name]="'Formação'" [records]="user.getGraduations()"></app-record>
        </div>
        <div class="details__item">
            <app-record [name]="'Experiência'" [records]="user.getExperiences()"></app-record>
        </div>
        <div class="details__item">
            <app-record [name]="'Certificados'" [records]="user.getCertifications()"></app-record>
        </div>
    </div>
    <div class="details">
        <div class="details__item">
            <app-simple-record [name]="'Dados Pessoais'" [records]="user.getPersonal()"></app-simple-record>
        </div>
        <div class="details__item">
            <app-simple-record [name]="'Competências'" [records]="user.getCompetences()"></app-simple-record>

        </div>
        <div class="details__item">
            <app-simple-record [name]="'Idiomas'" [records]="user.getLanguages()"></app-simple-record>

        </div>
        <div class="details__item">
            <app-simple-record [name]="'Interesses'" [records]="user.getInterests()"></app-simple-record>
        </div>
    </div>
</section>