<div class="small_record" *ngIf="this.records.length > 0">
    <h1 class="small_record__name"> {{this.name}} </h1>
    <div class="small_record__entry" *ngFor="let record of records">
        <div class="text_entry__wrapper" *ngIf="isText(record)">
            <div class="text_entry__title"> {{record.getTitle()}} </div>
            <div class="text_entry__content"> {{record.getContent()}}</div>
        </div>

        <div class="progress_entry__wrapper" *ngIf="isProgressBar(record)">
            <div class="progress_entry__content">
                <div class="progress__label">
                    <div class="progress__title">{{record.getTitle()}}</div>
                    <div class="progress__content">{{record.getContent()}}</div>
                </div>
                <div class="progress_bar">
                    <div class="progress_bar_fill" [style.width.%]="record.getProgress()"></div>
                </div>                 
            </div>
        </div>

        <div class="square_entry__wrapper" *ngIf="isSquareBar(record)">
            <div class="square_entry__content">
                <div class="square"></div>
                <div class="square__content">{{record.getContent()}}</div>
            </div>
        </div>
    </div>
</div>