@import '../../../variables.scss';

.small_record {
    .small_record__name {
        color: $grey-900;
        font-size: 16px;
        margin-bottom: 8px;
    }

    .small_record__entry {
        font-size: 12px;
        margin-bottom: 16px;

        .text_entry__wrapper {
            .text_entry__title {
                color: $grey-800;
                font-style: italic;
                font-weight: bold;
            }

            .text_entry__content {
                color: $grey-700;
            }
        }

        .progress_entry__wrapper {
            .progress_entry__content {

                .progress__content {
                    margin-bottom: 4px;
                }

                .progress_bar {
                    background-color: $grey-500;
                    height: 6px;
                    position: relative;
                    width: 100%;

                    .progress_bar_fill {
                        background-color: $grey-900;
                        height: 6px;
                        position: absolute;
                    }
                }

            }
        }

        .square_entry__wrapper {
            display: flex;
            margin-bottom: 16px;

            div {
                display: inline-block;
            }

            .square {
                background-color: $grey-900;
                height: 12px;
                margin-right: 8px;
                width: 12px;
            }

            .square__content {
                font-size: 12px;
                vertical-align: 2px;
            }
        }
    }
}